#folder-artists {
    padding-left: 20px;
}

#top-artist {
    /* margin-left: 10px; */
    margin-bottom: 100px;
    width: 110px;
    text-align: center;
    font-weight: bold;
    font-size: .7em;
    float: left;
    /* border: solid 1px #ccc; */
}
.top-artists #artist-image {
    width: 100px;
    height: 100px;
    background-color: #111013;
    border-radius: 50%;
    /* background-image: url(./album.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 5px !important;
}

#artist-name {
    color: #fff;
    margin-left: -10px;
    /* border: solid 1px #ccc; */
    /* text-align: right; */
    /* position: absolute; */
    /* white-space: nowrap ;
    overflow-x: hidden;
    text-overflow: ellipsis; */
}

.top-artists .card-header {
    color: #fff;
    height: 20px;
    margin-bottom: 0px;
}

.top-artists {
    overflow: hidden;
}