.button a{
    border: none;
    color: white;
    padding: 7px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-bottom: solid 1px rgb(48, 48, 48);
}
.button a i {
    margin-right: 10px;
}

#home-button {
    top: 0px;
    width: 100%;
    border-top: solid 1px rgb(48, 48, 48);
}
#now-playing-album-art {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    background-image: url('../album.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0 !important;
}
.folder-item {
    text-align: left;
    margin: 10px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.folder-item a {
    color: #fff;
    text-decoration: none;
    margin-left: 5px;
}
.folder-item span {
    color: rgb(77, 77, 77);
}

.folder-item:hover {
    background-color: rgba(70, 70, 70, 0.61);
}
