html,
body {
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 0.1fr 2.2fr repeat(2, 1fr);
    grid-template-rows: 0.1fr 1.7fr 2fr 0.1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-template-areas:
        "top top top top"
        "side content content content"
        "side content content content"
        "bottom bottom bottom bottom";
}

.top {
    display: grid;
    grid-area: top;
    height: 70px;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: bottom;
    height: 80px;
    /* background-color: #0c0c0c75; */
}
@media screen and (max-width: 650px) {
    .bottom {
        height: 150px;
        display: block;
    }
    .side {
        display: none;
    }
}
.side {
    background-color: #0c0c0c75;
    grid-area: side;
    width: 200px;
}

.content {
    grid-area: content;
    background-color: #000;
    /* background-image:  url("./g&gr.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    /* border: solid; */
}

.top-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-template-areas:
        "Top-left Search Top-right";
    background-color: #000000dc;
}

.Search { 
    grid-area: Search;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Top-left { grid-area: Top-left; }

.Top-right { grid-area: Top-right; }

.sidebar-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1.9fr 0.1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-template-areas:
        "menu"
        "context"
        "album-art";
    height: 100%;
}
  
.album-art {
    grid-area: album-art;
    height: 200px;
    border-top: 1px solid rgb(51, 51, 51);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    grid-area: menu;
}

.context {
    grid-area: context;
    overflow-x: hidden;
    /* background-color: tomato; */
    height: 100%;
}

.album-of-the-day-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1.5fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-template-areas:
      "detail detail artist";
    height: 100%;
    width: 100%;
}

.artist { 
    grid-area: artist;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* border: solid; */
}
  
  .detail { grid-area: detail;
    /* border: solid; */
}



.home-grid {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 0.1fr 1.9fr 0.1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row column;
    justify-items: stretch;
    grid-template-areas:
        "menu extra"
        "context extra"
        "album-art extra";
    height: 100%;
    backdrop-filter: blur(0px) saturate(180%);
    background: linear-gradient(to bottom,rgb(0, 0, 0),30%,#353535, 70%, #202020),url();
}
.extra {
    grid-area: extra;
    height: 100%;
    margin: 10px;
    overflow: hidden;
}
.top-artists {
    grid-area: album-art;
    height: 180px;
    border-radius: 20px;
    color: #160e16;
    /* box-shadow: 0px 0px 4px 0px rgba(85, 85, 85, 0.75); */
    margin: 10px;
    margin-top: 20px;
    display: flex;
    display: none;
}

.album-of-the-day {
    grid-area: menu;
}

.top-songs{
    grid-area: context;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "songs others"
        "songs others";

    overflow-x: hidden;
    /* background-color: #fff; */
    height: 100%;
    border-radius: 20px;
    color: #160e16;
    /* box-shadow: 0px 0px 4px 0px rgba(85, 85, 85, 0.75); */
    height: 99%;
    /* overflow-y: visible; */
    margin: 10px;
}

#top-songs-inner {
    grid-area: songs;
    background-color: #111013;
    border-radius: 20px;
    overflow: scroll;
}

#top-songs-right {
    grid-area: others;
    /* border: solid; */
    background-color: #111013    ;
    color: #fff;
    border-radius: 20px;
    margin-left: 10px;
    display: block;
    padding: 20px;
    /* position: relative; */
}