#top-artist {
    margin-left: 20px;
    width: 100px;
    text-align: center;
    font-weight: bold;
    font-size: .7em;
    float: left;

}
#artist-image {
    width: 100px;
    height: 100px;
    background-color: #111013;
    border-radius: 50%;
    /* background-image: url(./album.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#artist-name {
    margin-top: 5px;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.top-artists .card-header {
    color: #fff;
    height: 20px;
    margin-bottom: 5px;
}

.top-artists {
    overflow: hidden;
}